<div class="new_all">
  <h1 class="new">新規入力

  <% if @distance.errors.any? %>
    <div class= "error">
      <ul>
        <% @distance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <%end%>
      </ul>
    </div>
  <% end %>

  <p class="comment">お疲れ様でした！本日の記録を入力してください。</p>
  <%= form_with(model: @distance, local: true) do |form| %>
    <div class= "main_new">
      <div class = "month_date">
        <%= form.text_field :month, placeholder: "month", class:"month" %><div class="moji">月</div>
        <%= form.text_field :date, placeholder: "date", class:"date" %><div class="moji">日</div>
      </div>
      <div class = "distance_weight" >
        <%= form.text_field :distance, placeholder: "distance", class:"distance"%><div class="moji">km</div>
        <%= form.text_field :weight, placeholder: "weight", class:"weight" %><div class="moji">kg</div>
      </div>
      <%= form.submit "保　存", class:"submit" %></h1>
  <% end %>
</div>