<div class="new_all">
  <h1 class="new">新規入力
  <p class="comment">お疲れ様でした！本日の記録を入力してください。</p>
  <%= form_with(model: @distance, local: true) do |form| %>
    <div class= main_new>
      <%= form.text_field :month, placeholder: "1", class:"month" %>月
      <%= form.text_field :date, placeholder: "1", class:"date" %>日<br>
      <%= form.text_field :distance, step: '0.1' ,placeholder: "距　離", class:"distance"%>km
      <%= form.text_field :weight, placeholder: "体　重", class:"weight" %>kg<br>
      <%= form.submit "保　存", class:"submit" %></h1>
    </div>
  <% end %>
</div>